* {
  margin: 0;
  padding: 0;
}

.container {
  $absoluteMargin: 40px;
  overflow: hidden;

  position: absolute;
  left: $absoluteMargin;
  top: $absoluteMargin;
  right: $absoluteMargin;
  bottom: $absoluteMargin;
  background-color: #000d3e;

  iframe {
    position: relative;
    width: 100%;
    height: 100%;
  }
}