* {
  margin: 0;
  padding: 0; }

.container {
  overflow: hidden;
  position: absolute;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #000d3e; }
  .container iframe {
    position: relative;
    width: 100%;
    height: 100%; }
